Source: ros-jazzy-create3-lidar-slam
Section: misc
Priority: optional
Maintainer: Alberto Soragna <asoragna@irobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-irobot-create-msgs, ros-jazzy-launch-ros, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-create3-lidar-slam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-irobot-create-msgs, ros-jazzy-launch-ros, ros-jazzy-rplidar-ros, ros-jazzy-slam-toolbox, ros-jazzy-ros-workspace
Description: Example for using an RPLIDAR A1 with a Create 3
