Source: ros-humble-create3-teleop
Section: misc
Priority: optional
Maintainer: Alberto Soragna <asoragna@irobot.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-cmake-flake8 <!nocheck>, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-create3-teleop
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-joy, ros-humble-launch-ros, ros-humble-teleop-twist-joy, ros-humble-teleop-twist-keyboard, ros-humble-ros-workspace
Description: Example launch files for teleoperating the iRobot(R) Create(R) 3 Educational Robot.
